﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{ 
        var counter = ViewBag.counter;
        var compCounter = ViewBag.compCounter;
        var uncomCounter = ViewBag.uncomCounter;
    }
    Total number of tickets: @counter
    Completed tickets: @compCounter
    Active tickets: @uncomCounter
</div>
